.container {
    position: absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;

    overflow: hidden;
    border: 30px solid black;
    background-image: url('img/bg.jpg');
    background-size: cover;

    font-family: 'Indie Flower', cursive;
}

#info {
    background-color: black;
    color: white;
    font-size: 5vw;
    margin: 50px;
    padding: 1px 50px;
    border-radius: 40px;
    transition: all 1s ease-out;
}

.cardInfo {
    opacity: 0;
}


#info button, #info input {
    font-size: inherit;
    background-color: black;
    border: 5px solid white;
    color: white;
    border-radius: 20px;
    padding: 20px 40px;
    margin: 10px 10px 50px 10px;
}
